.pageFeed {
  padding: 4rem;
  display: flex;
  width: 100%;
  max-width: 1500px;
  flex-direction: column;
  position: relative;
}
.pageFeed .header {
  width: 100%;
  position: fixed;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 6rem;
  background-color: white;
  z-index: 99;
}
.pageFeed .header h2 {
  font-size: 2rem;
  padding-right: 2rem;
}
.pageFeed .header .cardViewFilter {
  padding: 1rem 0;
  height: 100;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}
.pageFeed .header .cardViewFilter .filterIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.pageFeed .header .cardViewFilter .cardFilterLabel {
  border: 1px solid #73bf86;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}
.pageFeed .header .cardViewFilter .cardFilterLabel p {
  font-weight: 600;
}
.pageFeed .header .cardViewFilter .cardFilterLabel:hover {
  background-color: #f2d3ac;
  border-color: #56bf7b;
}
.pageFeed .header .cardViewFilter .selectedCardFilterLabel {
  position: relative;
  border: 1px solid #73bf86;
  background-color: #f2d3ac;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}
.pageFeed .header .cardViewFilter .selectedCardFilterLabel p {
  font-weight: 600;
}
.pageFeed .header .cardViewFilter .selectedCardFilterLabel .closeIcon {
  z-index: 99;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}
.pageFeed .header .cardViewFilter .selectedCardFilterLabel:hover .closeIcon {
  width: 1.1rem;
  height: 1.1rem;
}
.pageFeed .statusImgDiv {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pageFeed .statusImgDiv img {
  width: 50%;
  height: 50%;
}
.pageFeed .statusImgDiv h2 {
  font-size: 1.75rem;
}
.pageFeed .feedCards {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  gap: 3rem 2rem;
}
.pageFeed .feedCards .recipeCard {
  width: 15rem;
  border-radius: 0.75rem;
  background-color: #f2d3ac;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.pageFeed .feedCards .recipeCard .saveIconDiv {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.pageFeed .feedCards .recipeCard .saveIconDiv .deleteRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: #73bf86;
}
.pageFeed .feedCards .recipeCard .saveIconDiv .saveRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: #73bf86;
}
.pageFeed .feedCards .recipeCard .saveIconDiv:hover {
  background-color: rgba(88, 191, 114, 0.168627451);
}
.pageFeed .feedCards .recipeCard .saveIconDiv:hover .iconInitial {
  color: #56bf7b;
}
.pageFeed .feedCards .recipeCard .cardImageDiv {
  width: 100%;
  height: 10rem;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageFeed .feedCards .recipeCard .cardImageDiv button {
  background-color: #73bf86;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}
.pageFeed .feedCards .recipeCard .cardImageDiv button:hover {
  background-color: #56bf7b;
  padding: 0.55rem 1.05rem;
}
.pageFeed .feedCards .recipeCard .recipeInfoContainer {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.pageFeed .feedCards .recipeCard .titleDiv {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.pageFeed .feedCards .recipeCard .titleDiv h3 {
  font-size: 1.25rem;
  cursor: pointer;
}
.pageFeed .feedCards .recipeCard:hover .cardImageDiv button {
  transition: 0.2s;
  display: block;
}
.pageFeed .scrollTopDiv {
  position: fixed;
  bottom: 6rem;
  right: 4rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: #73bf86;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.pageFeed .scrollTopDiv .scrollTopIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: #f2f2f2;
}
.pageFeed .scrollTopDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #56bf7b;
}
.pageFeed .scrollTopDiv:active {
  box-shadow: none;
}

.spinnerContainer {
  min-height: 40rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorContainer {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.errorContainer img {
  width: 15rem;
  height: 15rem;
}
.errorContainer p {
  font-size: 1.2rem;
}/*# sourceMappingURL=pages.module.css.map */