.search {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.search .stickyWrapper {
  position: fixed;
  top: 4rem;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  padding: 2rem 4rem;
  background-color: white;
  z-index: 99;
}
.search .stickyWrapper .searchOptionInputs {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
  height: 4rem;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  height: 100%;
  width: 100%;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm .searchInput {
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  margin: 0;
  border: 4px solid #73bf86;
  border-radius: 1rem;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
  outline: none;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm .searchInput:active {
  border: 4px solid #56bf7b;
  outline: none;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm .searchInput:focus {
  border: 4px solid #56bf7b;
  outline: none;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm button {
  position: absolute;
  right: -4px;
  margin: 0 0.25rem;
  height: 100%;
  width: 10%;
  border: 4px solid #73bf86;
  border-radius: 1rem;
  background-color: #73bf86;
  cursor: pointer;
  transition: 0.2s;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm button:hover {
  background-color: white;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm button:hover .formSearchIcon {
  color: #73bf86;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm button:active {
  background-color: #fad2a1;
}
.search .stickyWrapper .searchOptionInputs .searchBarForm button .formSearchIcon {
  width: 2rem;
  height: 2rem;
  color: white;
  transition: 0.2s;
}
.search .stickyWrapper .searchOptionInputs .filterIconDiv {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}
.search .stickyWrapper .searchOptionInputs .filterIconDiv .filterIcon {
  width: 3rem;
  height: 3rem;
  color: #73bf86;
  transition: 0.2s;
}
.search .stickyWrapper .searchOptionInputs .filterIconDiv:hover {
  background-color: #56bf7b;
}
.search .stickyWrapper .searchOptionInputs .filterIconDiv:hover .filterIcon {
  color: #f2f2f2;
}
.search .stickyWrapper .searchOptionInputs .searchHistoryIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}
.search .stickyWrapper .searchOptionInputs .searchHistoryIconDiv .searchHistoryIcon {
  height: 3rem;
  width: 3rem;
  color: #73bf86;
}
.search .stickyWrapper .searchOptionInputs .searchHistoryIconDiv:hover {
  background-color: #f2f2f2;
}
.search .stickyWrapper .searchOptionInputs .searchHistoryIconDiv:hover .searchHistoryIcon {
  color: #56bf7b;
}
.search .stickyWrapper .searchHistory {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.5rem;
  z-index: 2;
}
.search .stickyWrapper .searchHistory .header {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.search .stickyWrapper .searchHistory .header .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.search .stickyWrapper .searchHistory .header p {
  font-size: 1.3rem;
  cursor: pointer;
}
.search .stickyWrapper .searchHistory .historyItems {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.search .stickyWrapper .searchHistory .historyItems p {
  font-size: 1.2rem;
  cursor: pointer;
}
.search .searchResults {
  margin: auto;
  width: 100%;
  max-width: 1499px;
  margin-top: 11rem;
  transition: 0.5s;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.search .searchResults .recipeCard {
  width: 15rem;
  border-radius: 0.75rem;
  background-color: #f2d3ac;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search .searchResults .recipeCard .saveIconDiv {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.search .searchResults .recipeCard .saveIconDiv .deleteRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: #73bf86;
}
.search .searchResults .recipeCard .saveIconDiv .saveRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: #73bf86;
}
.search .searchResults .recipeCard .saveIconDiv:hover {
  background-color: rgba(88, 191, 114, 0.168627451);
}
.search .searchResults .recipeCard .saveIconDiv:hover .iconInitial {
  color: #56bf7b;
}
.search .searchResults .recipeCard .saveIconDiv {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.search .searchResults .recipeCard .saveIconDiv .deleteRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
}
.search .searchResults .recipeCard .saveIconDiv .saveRecipeIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: #73bf86;
}
.search .searchResults .recipeCard .saveIconDiv:hover {
  background-color: rgba(88, 191, 114, 0.168627451);
}
.search .searchResults .recipeCard .saveIconDiv:hover .iconInitial {
  color: #56bf7b;
}
.search .searchResults .recipeCard .cardImageDiv {
  width: 100%;
  height: 10rem;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .searchResults .recipeCard .cardImageDiv button {
  background-color: #73bf86;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}
.search .searchResults .recipeCard .cardImageDiv button:hover {
  background-color: #56bf7b;
  padding: 0.55rem 1.05rem;
}
.search .searchResults .recipeCard .recipeInfoContainer {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.search .searchResults .recipeCard .titleDiv {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.search .searchResults .recipeCard .titleDiv h3 {
  font-size: 1.25rem;
  cursor: pointer;
}
.search .searchResults .recipeCard:hover .cardImageDiv button {
  transition: 0.2s;
  display: block;
}
.search .filter {
  background-color: white;
  margin-top: 9rem;
  padding: 4rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  max-width: 1500px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.search .filter .filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-x: hidden;
}
.search .filter .filterContainer h3 {
  font-size: 1.5rem;
}
.search .filter .filterContainer .filterBoxContainer {
  flex: 30%;
}
.search .filter .filterContainer .filterBoxContainer .filterBox {
  background-color: transparent;
  border: 3px solid #73bf86;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.search .filter .filterContainer .filterBoxContainer .filterBox .filterBoxItem {
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #73bf86;
  border-radius: 0.5rem;
  cursor: pointer;
}
.search .filter .filterContainer .filterBoxContainer .filterBox .filterBoxItem:hover {
  border: 2px solid #56bf7b;
  background-color: rgba(160, 217, 190, 0.6196078431);
}
.search .filter .filterContainer .filterBoxContainer .filterBox .filterBoxItemSelected {
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: #a0d9be;
  border: 2px solid #73bf86;
  border-radius: 0.5rem;
  cursor: pointer;
}
.search .filter .filterContainer .filterBoxContainer .filterBox .filterBoxItemSelected:hover {
  border: 2px solid #56bf7b;
  background-color: rgba(160, 217, 190, 0.6196078431);
}

@media screen and (max-width: 950px) {
  .search {
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
  .search .stickyWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 1rem;
  }
  .search .stickyWrapper .searchOptionInputs {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    height: auto;
    width: 100%;
  }
  .search .stickyWrapper .searchOptionInputs .searchBarForm {
    justify-content: space-between;
    flex-direction: column;
    row-gap: 0.5rem;
    height: auto;
    width: 100%;
  }
  .search .stickyWrapper .searchOptionInputs .searchBarForm .searchInput {
    width: 100%;
    height: 3rem;
    padding: 0.25rem;
    margin: 0;
    font-size: 1.5rem;
  }
  .search .stickyWrapper .searchOptionInputs .searchBarForm button {
    position: relative;
    min-width: 100%;
    right: 0;
    height: 3rem;
    padding: 0;
    margin: 0;
  }
  .search .stickyWrapper .searchOptionInputs .filterIconDiv {
    width: 100%;
    height: 3rem;
    justify-self: flex-start;
  }
  .search .stickyWrapper .searchHistory {
    margin: 0 1rem;
    width: 90%;
  }
  .search .stickyWrapper .searchHistory .historyItems {
    overflow-x: auto;
  }
  .search .searchResults {
    margin-top: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    align-items: center;
  }
  .search .filter {
    margin-top: 12rem;
    padding: 4rem 1rem;
  }
}/*# sourceMappingURL=search.module.css.map */