$color-primary: #73bf86;
$color-secondary-white: #f2f2f2;
$color-secondary-tan: #f2d3ac;
$color-secondary-green: #a0d9be;
$color-primary-hover: #56bf7b;

.search {
  background-color: white;
  width: calc(100% - 6rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  padding: 0 3rem;
  cursor: default;

  .stickyWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    z-index: 99;

    .searchOptionInputs {
      display: flex;
      column-gap: 0.5rem;
      width: 100%;
      height: 4rem;

      .searchBarForm {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.5rem;
        height: 100%;
        width: 80%;

        .searchInput {
          width: 100%;
          height: calc(100% - 8px);
          padding: 0 0 0 1rem;
          margin: 0;
          border: 4px solid $color-primary;
          border-radius: 1rem;
          background-color: transparent;
          font-size: 2.5rem;
          font-weight: 600;
          outline: none;

          &:active {
            border: 4px solid $color-primary-hover;
            outline: none;
          }

          &:focus {
            border: 4px solid $color-primary-hover;
            outline: none;
          }
        }

        button {
          position: absolute;
          right: -4px;
          margin: 0 0.25rem;
          height: calc(100%);
          width: 10%;
          border: 4px solid $color-primary;
          border-radius: 1rem;
          background-color: $color-primary;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: white;
          }
          &:hover .formSearchIcon {
            color: $color-primary;
          }
          &:active {
            background-color: #fad2a1;
          }

          .formSearchIcon {
            width: 2rem;
            height: 2rem;
            color: white;
            transition: 0.2s;
          }
        }
      }
      .filterIconDiv {
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid transparent;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        cursor: pointer;
        .filterIcon {
          width: 3rem;
          height: 3rem;
          color: $color-primary;
        }
        &:hover {
          background-color: $color-secondary-white;
        }
      }
      .searchHistoryIconDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid transparent;
        transition: 0.2s;
        cursor: pointer;

        .searchHistoryIcon {
          height: 3rem;
          width: 3rem;
          color: $color-primary;
        }

        &:hover {
          background-color: $color-secondary-white;

          .searchHistoryIcon {
            color: $color-primary-hover;
          }
        }
      }
    }

    .searchHistory {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 0.5rem;
      z-index: 2;

      p {
        font-size: 1.3rem;
        cursor: pointer;
      }

      .historyItems {
        display: flex;
        column-gap: 3rem;

        p {
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
  }

  .resultsPage {
    margin-top: 11rem;
    transition: 0.5s;
    overflow-y: auto;
    height: 100%;

    .searchResults {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 1rem;
      align-items: flex-start;
      justify-content: center;
      padding: 2rem 0 0 0;

      .resultsCard {
        flex: 20%;
        border-radius: 1rem;
        position: relative;
        cursor: default;

        .resultsImageContainer {
          height: fit-content;

          .resultsCardBgImage {
            height: 10rem;
            border-radius: 1rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;

            &:hover {
              button {
                background-color: $color-secondary-tan;
                color: black;
              }

              .resultsCardOverlay {
                transition: 0.2s;
                background-image: linear-gradient(
                  to bottom,
                  #f5f5f500,
                  #f5f5f5c7
                );
              }
            }

            button {
              position: absolute;
              width: 7.5rem;
              padding: 0.5rem 1rem;
              border-radius: 0.5rem;
              border: none;
              background-color: transparent;
              color: transparent;
              font-weight: 600;
              transition: 0.75s;
              cursor: pointer;
            }
            &:hover {
              background-color: $color-primary-hover;
              color: black;
            }

            .resultsCardOverlay {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              border-radius: 1rem;
              background-image: linear-gradient(
                to bottom,
                #f5f5f500,
                #f5f5f584
              );
              transition: 0.2s;

              .ingredientDiv,
              .timeDiv {
                display: flex;
                gap: 0.25rem;
                padding: 0.5rem;

                .icon {
                  stroke-width: 0.07rem;
                  padding: 0.25rem;
                  width: max-content;
                }

                p {
                  font-weight: 600;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }

        h3 {
          font-size: 1.5rem;
          width: fit-content;
          max-width: 85%;
          padding-top: 0.25rem;
          cursor: pointer;
        }
        &:hover {
          .resultsImageContainer {
            .resultsCardBgImage {
              button {
                background-color: $color-primary;
                color: rgba(0, 0, 0, 0.543);
              }

              .resultsCardOverlay {
                transition: 0.2s;
                background-image: linear-gradient(
                  to bottom,
                  #f5f5f500,
                  #f5f5f5c7
                );
              }
            }
          }
        }
      }
    }
  }

  .filter {
    background-color: white;
    margin-top: 12rem;
    padding-bottom: 3rem;
    height: max-content;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .filterContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      overflow-x: hidden;

      h3 {
        font-size: 1.5rem;
      }

      .filterBoxContainer {
        flex: 30%;

        .filterBox {
          background-color: transparent;
          border: 3px solid $color-primary;
          border-radius: 0.5rem;
          padding: 1rem 0.5rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          .filterBoxItem {
            padding: 0.5rem 1rem;
            font-weight: 600;
            background-color: transparent;
            border: 2px solid $color-primary;
            border-radius: 0.5rem;
            cursor: pointer;
            &:hover {
              border: 2px solid $color-primary-hover;
              background-color: #a0d9be9e;
            }
          }
          .filterBoxItemSelected {
            padding: 0.5rem 1rem;
            font-weight: 600;
            background-color: $color-secondary-green;
            border: 2px solid $color-primary;
            border-radius: 0.5rem;
            cursor: pointer;
            &:hover {
              border: 2px solid $color-primary-hover;
              background-color: #a0d9be9e;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .search {
    margin-top: 0;
    padding: 0;
    width: 100%;
    .stickyWrapper {
      height: fit-content;
      .searchOptionInputs {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        height: auto;
        width: 90%;

        .searchBarForm {
          justify-content: space-between;
          flex-direction: column;
          row-gap: 0.5rem;
          height: auto;
          width: 100%;

          .searchInput {
            width: calc((100% - 0.5rem) - 8px);
            height: 3rem;
            padding: 0.25rem;
            margin: 0;
            font-size: 1.5rem;
          }

          button {
            position: relative;
            min-width: 100%;
            right: 0;
            height: 3rem;
            padding: 0;
            margin: 0;
          }
        }

        .filterIconDiv {
          width: 40%;
        }

        .searchHistoryIconDiv {
          width: 40%;
        }
      }
      .searchHistory {
        margin: 0 1rem;
        width: 90%;

        .historyItems {
          overflow-x: auto;
        }
      }
    }

    .resultsPage {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .searchResults {
        width: 90%;
        padding: 0;
        align-items: center;
      }
    }
  }
}
